.past__icon--next img {
  width: 1.2rem;
  object-fit: cover;
  margin: 0 0.7rem;
}
.past__product--category {
  color: var(--text);
  font-weight: 500;
}
.past__product {
  color: var(--primary);
  font-size: 16px;
  font-weight: 500;
}
/* main */

.detail__left {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
.detail__right {
  width: 100%;
  height: 100vh;
}

.detail__left--img {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  height: 100vh;
}
.detail__right--img img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}
.detail__left--item {
  width: 100%;
  height: 6.6rem;
}
.detail__left--item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.active--detail__left--item {
  border: 1px solid gray;
}

/*  */

.detail__right--name {
  font-size: 14px;
  font-weight: 600;
  height: 2rem;
  width: 100%;
  white-space: nowrap; /* Không xuống dòng */
  overflow: hidden; /* Ẩn nội dung tràn */
  text-overflow: ellipsis;
}

.detail__right-info {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 1rem 0;
}
.detail__right-code {
  margin-right: 8px;
}
.copy-icon {
  margin-left: 4px;
  cursor: pointer;
}
.stars {
  color: #ffa500; /* Màu vàng cho các ngôi sao */
  margin: 0 6px;
}
.rating {
  color: #000;
  font-weight: bold;
  margin-right: 4px;
}
.rating-count {
  color: var(--text); /* Màu xanh cho số lượng đánh giá */
  margin-right: 8px;
  cursor: pointer;
}
.sold-count {
  color: #555;
}

/*  */
.detail__right--price {
  margin: 1.7rem 0;
  gap: 1rem;
}
.detail__right--price--new {
  color: var(--red);
  font-size: 2.4rem;
  font-weight: bold;
  margin-right: 8px;
}
.detail__right--price--old {
  color: var(--price__old);
  text-decoration: line-through;
  margin-right: 8px;
  font-size: 1.6rem;
}
.detail__right--price--sale {
  color: var(--red);
  background-color: #fde8e8;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: bold;
}

.view__number {
  margin-left: 0.7rem;
  font-weight: 600;
  font-size: 16px;
  margin-right: 0.4rem;
}

.detail__right--view {
  margin: 2.5rem 0;
}

.detail__right--view div:last-child {
  font-size: 14px;
  color: var(--text);
}

/*  */

.color__selector > div {
  gap: 0.3rem;
  margin: 1.6rem 0;
}
.color-label,
.size-label {
  font-size: 1.4rem;
  font-weight: 500;
}
.color-option {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.color-option.selected {
  border-color: #000000;
}
.color-blue {
  background-color: #007bff;
}
.color-peach {
  background-color: #f3e5d5;
}
.color-black {
  background-color: #333;
}
.color-brown {
  background-color: #a67c52;
}
.color-white {
  background-color: #f5f5f5;
}

/*  */

.size__selector {
  margin: 3rem 0;
}
.size__selector > div {
  gap: 0.8rem;
  margin: 1.5rem 0;
}
.size-option {
  font-size: 12px;
  font-weight: 600;
  color: var(--text);
  width: 4.2rem;
  height: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 5px;
}

.active__size {
  background-color: var(--footer);
  color: white;
}

/*  */

.detail__number {
  font-size: 14px;
  color: var(--text);
  font-weight: 600;
  margin: 1rem 0;
}

.number {
  width: 13rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.2rem 2rem;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 10px;
}

.number span {
  flex: 1;
  cursor: pointer;
}

.number span img {
  width: 2.3rem;
  object-fit: cover;
}
.add__cart {
  padding: 1.4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  color: var(--text);
  border: 1px solid rgb(30, 30, 30);
  border-radius: 10px;
  cursor: pointer;
}

.cate__new {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  background-color: var(--key);
  border-bottom: 2px solid rgb(101, 73, 20);
  padding: 1.4rem;
  border-radius: 10px;
  margin: 1.3rem 0;
  cursor: pointer;
}

/* .payment-methods {
  padding: 3rem 0;
  background-color: rgba(238, 238, 238, 0.4);
  border-radius: 10px;
}

.payment-methods div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.payment-methods div div {
  width: 5rem;
}

.payment-methods > div > div img {
  margin-right: 10px;
  vertical-align: middle;
  width: 100%;
  object-fit: cover;
}

.payment-methods > div > div > img:last-child {
  width: 70%;
}

.payment-methods > p {
  font-size: 12px;
  margin-top: 1rem;
} */

.info__ship {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 2rem 0;
}

.info__ship span {
  font-size: 14px;
}

.info__ship span img {
  margin-right: 0.5rem;
}

/*  */

.canyoulikeit > h2 {
  font-size: 3rem;
  font-weight: 600;
  margin: 5rem 0 2rem 0;
}

.canyoulikeit {
  /* margin: 5rem 0; */
  margin-bottom: 3rem;
}

.detail {
  height: 90rem;
}

.detail__left {
  position: sticky;
  top: 7.4rem;
}

.btn {
  border: none;
  background-color: #fff;
  font-size: 20px;
  line-height: 30px;
}
.btn.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

/* =======================commetn======== */
.comment {
  margin: 5rem 0;
}

/*  */

.notification.error {
  background-color: #f44336; /* Màu đỏ cho lỗi */
}

.notification div {
  display: flex;
  align-items: center;
}

.notification p {
  margin: 0;
}

.notification.hidden {
  opacity: 0;
  transform: translateY(-20px);
}
