/* """""""""""""""""""""""""""""""""""BANNER""""""""""""""""""""""""""""""""""" */

.banner > img {
  width: 100%;
  object-fit: cover;
}

.banner__one {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden; /* Ẩn phần ảnh tràn ra ngoài */
}

.banner__one ul {
  display: flex; /* Dùng flexbox để các ảnh xếp hàng ngang */
  margin: 0;
  padding: 0;
  list-style: none;
  transition: transform 0.5s ease-in-out; /* Hiệu ứng chuyển động */
}

.slide {
  min-width: 100%; /* Mỗi slide chiếm 100% chiều rộng */
  height: 100%;
}
.slide a {
  display: block;
  width: 100%;
  height: 100%;
}

.slide a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide__show {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid rgba(177, 177, 177, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slide__show > img {
  display: inline-block;
  width: 70%;
  object-fit: cover;
}

.next {
  right: 2rem;
}

.pre {
  left: 2rem;
}

/* """"""""""""""""""""""""""""""""""""""End Banner"""""""""""""""""""""""""""""""""""""" */

h2 {
  font-size: 32px;
  line-height: 46px;
  font-weight: 500;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.list__select {
  margin-bottom: 2rem;
  gap: 2.5rem;
}

.select-item > a {
  padding: 1.1rem 3.1rem;
  background-color: rgba(239, 239, 239, 0.8);
  border-radius: 30px;
  display: inline-block;
  color: #a9a9a9;
  font-size: 18px;
}

.active__select--item > a {
  background-color: var(--key);
  color: var(--text);
  font-weight: 600;
}

/* """""""""""""""""""""""""""""""""""""""PRODUCT""""""""""""""""""""""""""""""""""""""" */

.btn__view {
  display: block;
  margin: 5rem auto 2rem auto;
  width: 38rem;
  padding: 1.2rem 4rem;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: #fff;
  color: var(--text);
  font-weight: 600;
  font-size: 18px;
}

#select__category__event {
  border: none;
  padding: 0.2rem 0.5rem;
  position: relative;
  top: 0.9rem;
  background-color: #fefefe;
  font-size: 34px;
  width: 8rem;
  border-bottom: 2px solid #000;
  display: block;
  outline: none;
  margin-left: 2rem;
}

.events__banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 1rem;
}

.events__banner a {
  display: inline-block;
  width: 100%;
}

.events__banner a img {
  width: 100%;
  object-fit: cover;
}
.heading__one {
  text-align: center;
  background-color: #000;
  color: white;
  font-weight: 600;
  font-size: 38px;
  padding: 3rem 0;
}

.post__title {
  font-size: 20px;
  font-weight: 600;
  color: var(--text);
  margin: 1rem 0;
}

.post__detail {
  font-size: 14px;
  font-weight: 500;
  color: var(--text);
  line-height: 2rem;
  margin-bottom: 2rem;
}
